<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="97.1.6" targetFramework="net48" />
  <package id="cef.redist.x86" version="97.1.6" targetFramework="net48" />
  <package id="CefSharp.Common" version="134.3.90" targetFramework="net48" />
  <package id="CefSharp.WinForms" version="134.3.90" targetFramework="net48" />
  <package id="chromiumembeddedframework.runtime.win-x64" version="134.3.9" targetFramework="net48" />
  <package id="chromiumembeddedframework.runtime.win-x86" version="134.3.9" targetFramework="net48" />
  <package id="EasyTabs" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http" version="2.2.2" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http.Features" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.WebUtilities" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.ObjectPool" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Net.Http.Headers" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.VCRTForwarders.140" version="1.0.7" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.1072.54" targetFramework="net48" />
  <package id="Svg" version="2.4.3" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.1" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="4.5.0" targetFramework="net48" />
  <package id="Win32Interop.Dwmapi" version="1.0.1" targetFramework="net48" />
  <package id="Win32Interop.Gdi32" version="1.0.1" targetFramework="net48" />
  <package id="Win32Interop.Kernel32" version="1.0.1" targetFramework="net48" />
  <package id="Win32Interop.User32" version="1.0.1" targetFramework="net48" />
  <package id="Win32Interop.Uxtheme" version="1.0.1" targetFramework="net48" />
</packages>